.logo {
    display: flex;
    width: 30%;
}

.home {
    background-color: rgb(247, 241, 231);
}

.btn1 {
    color: white;
    border-radius: 5px;
    /* font-size: 20px; */
    background-color: rgb(146, 192, 53);
}

.more {
    color: black;
}

.more:hover {

    color: orange;

}

.card1{
    border-radius: 10px;
}

.w {
    width: 40%;
}

